[Desktop Entry]
Type=Application
Name=Passmenu
Comment=Spawn Passmenu
Encoding=UTF-8
Exec=bash -c passmenu
Terminal=false
X-GNOME-FullName=Passmenu
X-GNOME-UsesNotifications=true
StartupNotify=false
NoDisplay=false
