[Desktop Entry]
Type=Application
Name=Passmenu OTP
Comment=Spawn Passmenu OTP
Encoding=UTF-8
Exec=bash -c passmenu --otp
Terminal=false
X-GNOME-FullName=Passmenu
X-GNOME-UsesNotifications=true
StartupNotify=false
NoDisplay=false
